<div id="login_password">
    <div class="login-tytle">MASTER MANAGEMENT</div>
    <div class="frame-box">
        <h3>Reset Password</h3>
        <p>We will send you a password resetting by email address</p>
        <form class="login-pass" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit(forgotPasswordForm.value)">
            <input type="text" class="textbox textbox-box" placeholder="Please input your email" class="form-control"
                formControlName="email" required>
            <a ><button type="submit" class="btn btn-primary btn-l"
                    [disabled]="!forgotPasswordForm.valid">Send</button></a>
        </form>
    </div>

</div>