<header id="header">
    <div class="logo" [routerLink]="['/']"><img src="assets/images/logo.svg"></div>

    <div id="menu" (click)="toggleHeaderMenu()">
        <div class="userid">{{uiService.userEmail}}<span class="down"></span></div>
        <ul id="s-menu" class="d-menu" [ngClass]="{'show': !isHeaderMenuClose}">
            <li [routerLink]="['Dashboard']" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:
                true}"><a><span class="icon-menu menu_db"></span>Dashboard</a></li>
            <li [routerLink]="['MyAccount']" routerLinkActive="router-link-active"><a><span
                        class="icon-menu menu_account"></span>My Account</a></li>
            <li [routerLink]="['UserManagement']" routerLinkActive="router-link-active"><a><span
                        class="icon-menu menu_setting"></span>User management</a></li>
            <li (click)="handlerLogout()"><a><span class="icon-menu menu_logout"></span>Logout</a></li>
        </ul>
    </div><!-- menu -->
</header><!-- header -->