<h2 class="ttl">User management</h2>
<article>
    <div class="manage-tool">
        <app-search-box (searchChange)="handlerSearchChange($event)" [searchDebounceTime]="500"
            placeHolder="Please input your user id">
        </app-search-box>
        <a [routerLink]="['/MasterdataManagement/NewUsersReg']"><button type="button" class="btn btn-sub">+ New User
                Registration</button></a>
    </div>
    <div class="manage-list">
        <ul class="list">
            <ng-template ngFor let-user [ngForOf]="filterUser" let-index="index" [ngForTrackBy]="trackByUserId">
                <li class="list-myaccount">
                    <div class="item-text">
                        <input #userEmail type="text" class="textbox textbox-box2"
                            placeholder="Please input your e-mail address" [value]="user.userEmail">
                        <button type="button" class="btn btn-sub"
                            (mousedown)="handlerEmailChange(user, userEmail.value)">Edit</button>
                    </div>
                    <div class="action">
                        <span class="icon-trash2"></span>
                    </div>
                    <app-radio-box [items]="uiService.radioItems" [selectedValue]="user.role.id"
                        (selectedItemChange)="handlerRoleChange($event, user, index)"></app-radio-box>
                </li>
            </ng-template>
        </ul>
    </div>
</article>