<h2 class="ttl">Create a new user group</h2>
<article>
    <div class="form-table">
        <label class="item-ttl">Name</label>
        <div class="form-item">
            <input type="text" class="textbox textbox-line" placeholder="Please input group name">
        </div>
    </div>
    <div class="form-table">
        <label class="item-ttl">Description</label>
        <div class="form-item">
            <textarea class="textbox textbox-line" placeholder="Please input description for group"></textarea>
        </div>
    </div>
    <div class="form-btn form-btn-manage">
        <a [routerLink]="['/MasterdataManagement/GroupManagement']" routerLinkActive="router-link-active">
            <button type="button" id="change-password-cancel" class="btn btn-default btn-l">Cancel</button>
        </a>
        <button type="button" class="btn btn-primary btn-l">Save</button>
    </div>
</article>