<h2 class="ttl">Add members</h2>
<article>
    <div class="manage-tool">
        <div class="search_box">
            <input type="text" class="search" placeholder="Please input e-mail address"><span
                class="icon-search"></span>
            <hr>
        </div>
    </div>
    <div class="manage-list">
        <ul class="list">
            <li>
                <div class="item-text">
                    <span>son@angular.com</span>
                    <span>Editor</span>
                </div>
                <div class="action">
                    <div class="action-switch">
                        <input type="checkbox" id="switch-action01" class="switch-action" />
                        <label for="switch-action01" data-off-label="+ Add to group"></label>
                    </div>
                </div>
            </li>
            <li>
                <div class="item-text">
                    <span>minh@angular.com</span>
                    <span>Editor</span>
                </div>
                <div class="action">
                    <div class="action-switch">
                        <input type="checkbox" id="switch-action02" class="switch-action" />
                        <label for="switch-action02" data-off-label="+ Add to group"></label>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="form-btn form-btn-manage">
        <button type="button" id="change-password-cancel" class="btn btn-default btn-l"
            [routerLink]="['/MasterdataManagement/GroupDetails/DAQA']">Cancel</button>
        <button type=" button" class="btn btn-primary btn-l">Save</button>
    </div>
</article>