<div id="login">
    <div class="login-tytle">MASTER MANAGEMENT</div>
    <form [formGroup]="loginForm" class="login" (ngSubmit)="onSubmit(loginForm.value)">
        <input type="text" class="textbox textbox-box" placeholder="ID" formControlName="userId">
        <input type="password" class="textbox textbox-box" placeholder="Password" formControlName="password">
        <div class="check-box">
            <input type="checkbox" value="remember" id="check01" [checked]="isRemember" (change)="isRemember = !isRemember">
            <label for="check01" class="check">Remember me</label>
        </div>
        <a>
            <button type="button" class="btn btn-primary btn-l" type="submit" [disabled]="!loginForm.valid">Login</button>
        </a>
        <p><a [routerLink]="['/forgotPassword']" routerLinkActive="router-link-active" >Forgot pasword</a></p>
    </form>

</div> <!-- end login -->