<h2 class="ttl">Group Management</h2>
<article>
    <div class="manage-tool">
        <div class="search_box">
            <input type="text" class="search" placeholder="Please input a group name">
            <span class="icon-search"></span>
            <hr>
        </div>
        <a href="usergroupmanage_new.html">
            <button type="button" class="btn btn-sub">+ Add group</button>
        </a>
    </div>
    <div class="manage-list link-list">
        <ul class="list">
            <li>
                <div class="item-text">
                    <a href="usergroupmanage_detail.html">
                        <span>DAQA</span>
                    </a>
                </div>
                <div class="action">
                    <span class="icon-trash2"></span>
                </div>
            </li>
            <li>
                <div class="item-text">
                    <span>TESE</span>
                </div>
                <div class="action">
                    <span class="icon-trash2"></span>
                </div>
            </li>
            <li>
                <div class="item-text">
                    <span>DMDV</span>
                </div>
                <div class="action">
                    <span class="icon-trash2"></span>
                </div>
            </li>
            <li>
                <div class="item-text">
                    <span>INSIGHT</span>
                </div>
                <div class="action">
                    <span class="icon-trash2"></span>
                </div>
            </li>
        </ul>
    </div>
</article>