<article>
    <div class="manage-usergrp">
        <div class="manage-tool">
            <h2 class="ttl">DAQA</h2>
        </div>
        <p>This group manages the daqa team!</p>
    </div>
</article>
<article>
    <div class="manage-tool">
        <h2 class="ttl">Members</h2>
        <a href="usergroupmanage_memberplus.html"><button type="button" class="btn btn-sub">+ Add
                member</button></a>
    </div>
    <div class="manage-list">
        <ul class="list">
            <li>
                <div class="item-text">
                    <span>phap@angular.com</span>
                    <span>Administrator</span>
                </div>
                <div class="action">
                    <span class="icon-trash2"></span>
                </div>
            </li>
            <li>
                <div class="item-text">
                    <span>tien@angular.com</span>
                    <span>Editor</span>
                </div>
                <div class="action">
                    <span class="icon-trash2"></span>
                </div>
            </li>
        </ul>
    </div>
</article>
<div class="form-btn form-btn-manage">
    <a href="usergroupmanage.html">
        <button type="button" id="change-password-cancel" class="btn btn-default btn-l">Cancel</button>
    </a>
</div>