<h2 class="ttl">New User Registration</h2>
<article>
    <div class="manage-tool">
        <input type="text" class="textbox textbox-line" placeholder="Please input your e-mail address for ID">
        <div class="radio-box">
            <input type="radio" name="RadioAuth0" value="radio" id="auth0-1">
            <label for="auth0-1" class="radio">Administrator</label>
            <input type="radio" name="RadioAuth0" value="radio" id="auth0-2">
            <label for="auth0-2" class="radio">Editor</label>
            <input type="radio" name="RadioAuth0" value="radio" id="auth0-3" checked>
            <label for="auth0-3" class="radio">Normal</label>
        </div>
        <button type="button" class="btn btn-sub">+ Add</button>
    </div>
    <div class="manage-list">
        <ul class="list">
            <li>
                <div class="item-text">
                    <span>eeeeeeee@angular.com</span>
                </div>
                <div class="action">
                    <span class="icon-delete"></span>
                </div>
                <div class="radio-box">
                    <input type="radio" name="RadioAuth1" value="radio" id="auth1-1">
                    <label for="auth1-1" class="radio">Administrator</label>
                    <input type="radio" name="RadioAuth1" value="radio" id="auth2-2">
                    <label for="auth2-2" class="radio">Editor</label>
                    <input type="radio" name="RadioAuth1" value="radio" id="auth2-3" checked>
                    <label for="auth2-3" class="radio">Normal</label>
                </div>
            </li>
            <li>
                <div class="item-text">
                    <span>ffffffff@angular.com</span>
                </div>
                <div class="action">
                    <span class="icon-delete"></span>
                </div>
                <div class="radio-box">
                    <input type="radio" name="RadioAuth2" value="radio" id="auth3-1">
                    <label for="auth3-1" class="radio">Administrator</label>
                    <input type="radio" name="RadioAuth2" value="radio" id="auth3-2">
                    <label for="auth3-2" class="radio">Editor</label>
                    <input type="radio" name="RadioAuth2" value="radio" id="auth3-3" checked>
                    <label for="auth3-3" class="radio">Normal</label>
                </div>
            </li>
            <li>
                <div class="item-text">
                    <span>gggggggg@angular.com</span>
                </div>
                <div class="action">
                    <span class="icon-delete"></span>
                </div>
                <div class="radio-box">
                    <input type="radio" name="RadioAuth3" value="radio" id="auth4-1">
                    <label for="auth4-1" class="radio">Administrator</label>
                    <input type="radio" name="RadioAuth3" value="radio" id="auth4-2">
                    <label for="auth4-2" class="radio">Editor</label>
                    <input type="radio" name="RadioAuth3" value="radio" id="auth4-3" checked>
                    <label for="auth4-3" class="radio">Normal</label>
                </div>
            </li>
            <li>
                <div class="item-text">
                    <span>hhhhhhhh@angular.com</span>
                </div>
                <div class="action">
                    <span class="icon-delete"></span>
                </div>
                <div class="radio-box">
                    <input type="radio" name="RadioAuth4" value="radio" id="auth5-1">
                    <label for="auth5-1" class="radio">Administrator</label>
                    <input type="radio" name="RadioAuth4" value="radio" id="auth5-2">
                    <label for="auth5-2" class="radio">Editor</label>
                    <input type="radio" name="RadioAuth4" value="radio" id="auth5-3" checked>
                    <label for="auth5-3" class="radio">Normal</label>
                </div>
            </li>
        </ul>
    </div>
    <div class="form-btn form-btn-manage">
        <a [routerLink]="['/MasterdataManagement/UserManagement']">
            <button type="button" id="change-password-cancel" class="btn btn-default btn-l">Cancel</button>
        </a>
        <button type="button" id="modal-open-contentview" class="btn btn-primary btn-l">Save All</button>
    </div>
</article>