<h2 class="ttl">New User Registration</h2>
<article>
    <div class="manage-tool">
        <input type="text" class="textbox textbox-line" placeholder="Please input your e-mail address for ID"
            [(ngModel)]="tmpUser.userEmail">
        <app-radio-box [items]="uiService.radioItems" [(selectedValue)]="tmpUser.role.id"
            (selectedValueChange)="handlerTmpRoleChange($event, tmpUser)"></app-radio-box>
        <button type="button" class="btn btn-sub" (click)="addUser(tmpUser)">+ Add</button>
    </div>
    <div class="manage-list">
        <ul class="list">
            <ng-template ngFor let-user [ngForOf]="addingUsers" let-index="index">
                <li>
                    <div class="item-text">
                        <span>{{user.userEmail}}</span>
                    </div>
                    <div class="action">
                        <span class="icon-delete" (click)="removeAddingUser(user, index)"></span>
                    </div>
                    <app-radio-box [items]="uiService.radioItems" [(selectedValue)]="user.role.id"></app-radio-box>
                </li>
            </ng-template>
        </ul>
    </div>
    <div class="form-btn form-btn-manage">
        <a [routerLink]="['/MasterdataManagement/UserManagement']">
            <button type="button" id="change-password-cancel" class="btn btn-default btn-l">Cancel</button>
        </a>
        <button type="button" id="modal-open-contentview" class="btn btn-primary btn-l"
            (click)="handlerSaveAllUser()">Save All</button>
    </div>
</article>